.lit-green {
    background-color: #63FFD1;
}
/*buttons are in form so subject to that styling - do this last*/
.navbar_hint-btn{
      height: 80px;
  }


.navbar_forward-btn{
      height: 80px;
  }
/*test*/
.red-border {
    border: 1px #d00 solid;
}


input[type="radio"]  {    /*IE6 can take a walk*/
    display: none;
  }
/*
.radio-div {
    width: 50vw;
    height: 5vh;
  }*/

.radio-label {
    left: 3vw;
    width: 90vw;
    height: 18vw;
    line-height: 18vw;
    /*border-radius: 12;*/
    border: 1px #3a3a3a solid;
    /*display: block;*/
    line-height: 22px;
    color: black;
    /*font-size: 40pt;*/
    background: white;
    position: relative;
  }

  input:checked+label:before {  /*only checkable inputs are radios for Q, right?*/
    opacity: 1;
    color: #12fff7;    /*color does nothing :(*/
  }
/*not doing much - maybe position- could its parent be a flexcontainer*/
  .radio-text {
    position: absolute;
    margin: 3%;
    left: 18vw;
    /*height: 18vw;*/
    vertical-align: middle;
  }
/*defines the height of the item with the button*/
  .radio-unclicked{
    position: absolute;
    width: 18vw;
    height: 18vw;
    background: #01fff7;
    content: '';
    opacity: .15;   /*partial opacity because you see through it to 'background' colour*/
    /*should use z-index instead!*/
  }

  label:before {
    position: absolute;
    /*top: 2px;
    left:2px;*/
    width: 18vw;
    height: 18vw;
    /*background: #f2c94c;*/
    background: #fa0;
    content: '';
    opacity: 0;
  }
/*experimental - see if this works - it's the flexcontainer*/
.question-mc_question {
  display: flex;
  flex-direction: column;
}

.radio-container-div {
    /*width: 90vw;*/
    /*left: 5vw;*/
    /* ^^ do nothing :( */
    display: flex;
    justify-content: flex-start;
}
