<!-- styling for the congratulations page -->
<div class="congrats-container">

<div class="top-of-congrats">
  <div class="great-work-container">
    <h2> Good job </h2>
    <p> You earned a medal! </p>
    <div class="image">
    </div>
    <h3> Master of Words </h3>
    <p> 1 short question answered </p>
  </div>
</div>

<div class="bottom-of-congrats">
  <h3> What would you like to do next?</h3>
  <a href="/">
    <div class="go-home congrats-button">
      <div class="colour-square">
      </div>
      <div class="question">
      Go home?
    </div>
    </div>
  </a>

  <a href="/intro/{{random}}">
    <div class="try-another-question congrats-button">
      <div class="colour-square">
      </div>
      <div class="question">
        Try another question?
            </div>
    </div>
  </a>

  <a href="/summary">
    <div class="see-progress congrats-button">
      <div class="colour-square">
        </div>
        <div class="question">
      See progress?
    </div>
    </div>
  </a>

</div>

</div>

<script src='../stop-timer.js'> </script>
<script src='../get-state.js'> </script>
