<header>
{{>header}}
</header>
<section class='extract-container'>
<!-- put the extract in here -->

</section>
<section class='question-area'>
<h2 class='question-text'>
  <!-- put the question in here -->
</h2>
<h3 class='question-text'>Can you explain why you chose
  <span id='answer'> that answer </span>?
<!-- put the selected option here -->
</h3>
<form id='question-mc' action='../congratulations' method='GET'>
  <div class='question-mc_question'>
    <textarea required name="message" rows="10" placeholder="Don't forget to write about important words in the extract!" class="answer_text"></textarea>
  </div>
  <div class='navbar'>
    <div class="button">
      <a href="/multichoice">
  <img id='back-btn' src='../assets/backarrow.jpg' class= 'navbar_back-btn navbar-button'>
      </a>
    </div>

    <div class="button">
      <a href="/">
  <img id='home-btn' src='../assets/home.png' class= 'navbar_home-btn navbar-button'>
      </a>
    </div>

    <div class="button">
      <img id='lightbulb' src='../assets/hint.jpg' class='navbar_hint-btn navbar-button' data-hint-html='{{data.hint}}'>
    </div>

    <div class="button">
      <input type='submit' class='navbar_forward-btn navbar-button'>
    </div>

  </form>

<!-- questioncontent, hint, extractcontent, options[] -->
</div>
</section>
<script src='../modal.js'> </script>
<script src='../answer-from-query.js'> </script>
<script src='../get-state.js'> </script>
