<header>
{{>header}}
</header>
<section class='extract-container'>
<!-- put the extract in here -->

</section>
<section class='question-area'>
<h2 class='question-text'>
  <!-- put the question in here -->
</h2>
<h3 class='question-text'>Can you explain why you chose
<!-- put the selected option here -->
</h3>
<form id='question-mc' action='../congratulations' method='GET'>
  <div class='question-mc_question'>
    <textarea required name="message" rows="10" placeholder="Don't forget to write about important words in the extract!" class="answer_text"></textarea>
  </div>
<div class='navbar'>
  {{>navbar}}

  <!-- stick some stuff on the navbar -->
  <img id='lightbulb' src='../assets/lightbulb.ico' class= 'navbar_hint-btn'
    data-hint-html = '{{data.hint}}' >
  <input type='submit' value="submit" style="background:url('../assets/goforward.png');" class= 'navbar_forward-btn'>

</form>

<!-- questioncontent, hint, extractcontent, options[] -->
</div>
</section>
<script src='../modal.js'> </script>
