
<div class="large-extract-container">
  <div class="large-extract">
    <h2 id= 'summary-content'> Title of Extract </h2>
    <p id= 'extract-content'>
      "This is where the large extract will go. We will use handlebars
      to access the information from the database"
    </p>
  </div>
  <div class='navbar'>

    <div class="button extract-buttons">
      <a href="/intro">
  <img id='back-btn' src='../assets/backarrow.jpg' class= 'navbar_home-btn navbar-button'>
      </a>
    </div>

    <div class="button extract-buttons">
      <a href="/">
  <img id='home-btn' src='../assets/home.png' class= 'navbar_home-btn navbar-button'>
      </a>
    </div>

    <div class="button extract-buttons">
      <a href="/multichoice">
      <input type='button' class='navbar_forward-btn navbar-button'>
      </a>
    </div>
  </div>
</div>

<script src='../get-state.js'> </script>
