
<div class="large-extract-container">
  <div class="large-extract">
    <h2> Title of Extract </h2>
    <p>
      "This is where the large extract will go. We will use handlebars
      to access the information from the database"
    </p>
  </div>
  {{> navbar }}
</div>
