<div class='landing__container'>
  <div class="landing-cover-color">
    <div class="litlearn__title">
      LitLearn
    </div>

    <div class='landing-button-container'>
        <a href="/intro/{{random}}" class='a-landing-button'><button class='landing-button' id='js-randomQuestionButton' type="button" name="button" aria-label='go to a random question'> Go to random question </button></a>
        <a href="/choosequestion" class='a-landing-button'><button class='landing-button' id='js-questionSelectionButton' type="button" name="button" aria-label='select a specific question'> Select a question </button></a>
    </div>

<footer class='tag-line'>
    Your English exam in small, <br> achievable chunks
</footer>

  </div>
</div>
