<div class="large-extract-container">
  <div class="large-extract">
    <h2> Title of Extract </h2>
    <p>
      Intro Text will go here
    </p>
  </div>

  <div class='navbar'>
    <div class="button intro-buttons">
      <a href="/">
  <img id='home-btn' src='../assets/home.png' class= 'navbar_home-btn navbar-button'>
      </a>
    </div>

    <div class="button intro-buttons">
      <a href="/extract">
      <input type='button' class='navbar_forward-btn navbar-button'>
      </a>
    </div>
  </div>
