
<div id='question-object-storage-container', style = 'display: none;'
  data-question-object = '{{data}}'>
</div>



<div class="large-extract-container">
  <div class="large-extract">
    <p>
      Things about a question. <br>

      You will see an extract. <br>

      This extract is {{question.summary}}.
    </p>
  </div>
  {{> navbar }}

</div>

<script src='../start-timer.js'> </script>
<script>
  startTimer();
</script>
<script src='../store-query.js'> </script>
