
<div id='question-object-storage-container', style = 'display: none;'
  data-question-object = '{{data}}'>
</div>



<div class="large-extract-container">
  <div class="large-extract">
    <h2 class='large-extract-heading'>What to expect:</h2>
    <p>
      In this question, you will be shown a short extract of a text <br>
      You need to read the extract and then answer a multiple-choice question about it. <br>
      Once you've had made your choice, you'll be asked to explain your answer, which will help you practice the skills you need for your English GCSE.
      <br>
      The extract you're going to see is <span id='question-summary'>{{question.summary}}</span>'.
    </p>
  </div>
</div>


  <div class='navbar'>
    <div class="button intro-buttons">
      <a href="/">
  <img id='home-btn' src='../assets/home.png' class= 'navbar_home-btn navbar-button'>
      </a>
    </div>

    <div class="button intro-buttons">
      <a href="/extract">
      <input type='button' class='navbar_forward-btn navbar-button'>
      </a>
    </div>
  </div>



<script src='../start-timer.js'> </script>
<script>
  var timer=startTimer();
</script>
<script src='../store-query.js'> </script>
