<div class="summary-container">
  <h2> Nice work! </h2>
  <div class='summary-image'></div>

  <div class='summary-box'>
    <div class="summary-text">
    <!-- need to get this from time function! -->
      You studied for 30 minutes today!
    </div>
  </div>

  <div class='summary-box'>
    <div class="summary-text">
    <!-- need to get number of questions answered from local storage -->
      You answered 4 short questions today!
    </div>
  </div>

  <div class='summary-box'>
    <div class="medals">
      <div class='summary-text medal'></div>
      <!-- number of medals will be the same as number of questions answered
    so can get this information from above -->
        x4
    </div>
  </div>

  <div class='navbar'>

    <div class="button extract-buttons">
      <a href="/">
  <img id='home-btn' src='../assets/home.png' class= 'navbar_home-btn navbar-button'>
      </a>
    </div>


</div>
